<div style="padding: 1rem">
  <div style="display: flex; justify-content: space-between">
    <button mat-raised-button color="primary" (click)="logout()">
      Çıkış Yap
    </button>
    <button mat-raised-button style="color: red" (click)="deleteAccount()">
      Hesabı Sil
    </button>
  </div>

  <!-- Ürünler ve Satıcılar-->
  <section>
    <div style="display: flex; justify-content: space-between">
      <div>
        <h3>Tüm Ürünler</h3>
        <mat-card style="max-height: 400px; overflow: auto">
          <mat-card-content>
            <table class="seller-table">
              <thead>
                <tr>
                  <th>ID</th>
                  <th>Ürün Adı</th>
                  <th>Kategorisi</th>
                  <th>Stok Adeti</th>
                  <th>Fiyatı</th>
                  <th>İşlem</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let p of products">
                  <td>{{ p.id }}</td>
                  <td>{{ p.name }}</td>
                  <td>{{ p.categoryName }}</td>
                  <td>{{ p.stock }}</td>
                  <td>{{ p.price }}</td>
                  <td>
                    <button class="danger" (click)="deleteProduct(p.id)">
                      Sil
                    </button>
                  </td>
                </tr>
              </tbody>
            </table>
          </mat-card-content>
        </mat-card>
      </div>
      <div>
        <h3>Tüm Satıcılar</h3>
        <mat-card style="max-height: 400px; overflow: auto">
          <mat-card-content>
            <table class="seller-table">
              <thead>
                <tr>
                  <th>ID</th>
                  <th>Ad-Soyad</th>
                  <th>Kullanıcı Adı</th>
                  <th>Satıcının Ürünleri</th>
                  <th>İşlem</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let seller of sellers">
                  <td>{{ seller.id }}</td>
                  <td>{{ seller.fullname }}</td>
                  <td>{{ seller.username }}</td>
                  <td>{{ seller.productsIds }}</td>
                  <td>
                    <button class="danger" (click)="deleteSeller(seller.id)">
                      Sil
                    </button>
                  </td>
                </tr>
              </tbody>
            </table>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </section>

  <!-- Kullanıcılar ve Kategoriler -->
  <section>
    <div style="display: flex; justify-content: space-between">
      <div>
        <h3>Tüm Kullanıcılar</h3>
        <mat-card style="max-height: 400px; overflow: auto">
          <mat-card-content>
            <table class="seller-table">
              <thead>
                <tr>
                  <th>ID</th>
                  <th>Kullanıcı Adı</th>
                  <th>Adı Soyadı</th>
                  <th>Ürünleri</th>
                  <th>İşlem</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let c of customers">
                  <td>{{ c.id }}</td>
                  <td>{{ c.username }}</td>
                  <td>{{ c.fullname }}</td>
                  <td>{{ c.productsIds }}</td>
                  <td>
                    <button class="danger" (click)="deleteCustomer(c.id)">
                      Sil
                    </button>
                  </td>
                </tr>
              </tbody>
            </table>
          </mat-card-content>
        </mat-card>
      </div>
      <div>
        <h3>Tüm Kategoriler</h3>
        <mat-card style="max-height: 400px; overflow: auto">
          <mat-card-content>
            <table class="seller-table">
              <thead>
                <tr>
                  <th>ID</th>
                  <th>Kategori İsmi</th>
                  <th>Onay Durumu</th>
                  <th>Ürünleri</th>
                  <th>İşlem</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let c of categories">
                  <td>{{ c.id }}</td>
                  <td>{{ c.name }}</td>
                  <td>{{ c.isApproved }}</td>
                  <td>{{ c.productsIds }}</td>
                  <td>
                    <button class="danger" (click)="deleteCategory(c.id)">
                      Sil
                    </button>
                  </td>
                </tr>
              </tbody>
            </table>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </section>

  <!-- Bekleyen Kategoriler -->
  <section>
    <div style="display: flex; justify-content: center;">
      <h3>Onay Bekleyen Kategoriler</h3>
    </div>

    <div style="display: flex; justify-content: center">
      <div>
        <mat-card style="max-height: 400px; overflow: auto">
          <mat-card-content>
            <table class="seller-table">
              <thead>
                <tr>
                  <th>ID</th>
                  <th>Kategori İsmi</th>
                  <th>Onay Durumu</th>
                  <th>Onayla</th>
                  <th>Reddet</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let c of pendingCategory">
                  <td>{{ c.id }}</td>
                  <td>{{ c.name }}</td>
                  <td>{{ c.isApproved }}</td>
                  <td>
                    <button class="success" (click)="approveCategory(c.id)">
                      Onayla
                    </button>
                  </td>
                  <td>
                    <button class="danger" (click)="deleteCategory(c.id)">
                      Sil
                    </button>
                  </td>
                </tr>
              </tbody>
            </table>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </section>
</div>
