<div style="padding: 1rem">
  <div style="display: flex; justify-content: space-between">
    <div>
      <button mat-button color="primary" (click)="logout()">Çıkış Yap</button>
    </div>
    <div>
      <button mat-button style="color: red" (click)="deleteUser()">
        Kullanıcıyı Sil
      </button>
    </div>
  </div>
  <!--Tüm Ürünlerin Listesi -->
  <div style="display: flex; justify-content: space-evenly">
    <div>
      <div
        style="
          display: flex;
          justify-content: space-between;
          align-items: center;
        "
      >
        <div>
          <h2>Ürün Listesi</h2>
        </div>
        <div>
          <mat-form-field appearance="outline">
            <mat-label>Kategori</mat-label>
            <mat-select
              [(ngModel)]="FilteredProductCategoryName"
              (selectionChange)="loadProductsByCategory()"
            >
              <mat-option [value]="''"> Hepsi </mat-option>
              <mat-option *ngFor="let cat of categories" [value]="cat.name">
                {{ cat.name }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
      <div>
        <mat-card style="max-height: 400px; overflow: auto">
          <mat-card-content>
            <div
              style="
                display: grid;
                grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
                gap: 1rem;
              "
            >
              <div
                *ngFor="let product of products"
                style="
                  border: 1px solid #ccc;
                  padding: 1rem;
                  border-radius: 8px;
                  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
                "
              >
                <h3>{{ product.name }}</h3>
                <p>
                  <strong>₺{{ product.price }}</strong>
                </p>

                <div style="display: flex; align-items: center; gap: 0.5rem">
                <button
                  mat-mini-button
                  color="primary"
                  (click)="decreaseQuantity(product)"
                >
                  -
                </button>

                <input
                  matInput
                  type="number"
                  [(ngModel)]="product.quantity"
                  class="no-spinner"
                  min="1"
                  style="width: 60px; text-align: center"
                />

                <button
                  mat-mini-button
                  color="primary"
                  (click)="increaseQuantity(product)"
                >
                  +
                </button>
                </div>

                <button
                  mat-raised-button
                  color="accent"
                  style="margin-top: 1rem; width: 100%"
                  (click)="addToCart(product)"
                >
                  Sepete Ekle
                </button>
              </div>
            </div>
          </mat-card-content>
        </mat-card>
      </div>

      <button
        mat-raised-button
        color="primary"
        (click)="submitSelectedProducts()"
        style="margin-top: 1rem"
      >
        Ürünleri Ekle
      </button>
    </div>
    <!--Seçilen Ürünler Listesi-->
    <div>
      <div
        style="
          display: flex;
          justify-content: space-between;
          align-items: center;
        "
      >
        <div style="margin-right: 1rem">
          <h2>Seçilen Ürün Listesi</h2>
        </div>
        <div>
          <mat-form-field appearance="outline">
            <mat-label>Kategori</mat-label>
            <mat-select
              [(ngModel)]="FilteredOwnProductCategoryName"
              (selectionChange)="loadOwnProductsByCategory()"
            >
              <mat-option [value]="''"> Hepsi </mat-option>
              <mat-option *ngFor="let cat of categories" [value]="cat.name">
                {{ cat.name }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
      <mat-card style="max-height: 400px; overflow: auto">
        <mat-card-content>
          <div
            style="
              display: grid;
              grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
              gap: 1rem;
            "
          >
            <div
              *ngFor="let item of myCartItems"
              style="
                border: 1px solid #ccc;
                padding: 1rem;
                border-radius: 8px;
                box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
              "
            >
              <h3>{{ item.productName }}</h3>
              <p>
                <strong>₺{{ item.productPrice * item.quantity }}</strong>
              </p>
              <p [ngStyle]="{'color': getStockColor(item.stockStatus)}">
                {{item.stockStatus}} <br/>
                <span *ngIf="item.stockStatus==='LOW_STOCK'"> Son {{item.stockQuantity}} ürün kaldı.</span>
              </p>
              <p>
                <strong>adet {{ item.quantity }}</strong>
              </p>

              <div style="display: flex; align-items: center; gap: 0.5rem">
                <button
                  mat-mini-button
                  color="primary"
                  (click)="decreaseQuantityfromCart(item)"
                >
                  -
                </button>

                <input
                  matInput
                  type="number"
                  [(ngModel)]="item.quantity"
                  class="no-spinner"
                  min="1"
                  style="width: 60px; text-align: center"
                />

                <button
                  mat-mini-button
                  color="primary"
                  (click)="increaseQuantityfromCart(item)"
                >
                  +
                </button>
              </div>

              <button
                mat-raised-button
                color="accent"
                style="margin-top: 1rem; width: 100%"
                (click)="removeItemFromCard(item)"
              >
                Sepetten Çıkar
              </button>
            </div>
          </div>
        </mat-card-content>
      </mat-card>
      <p >
        <strong> Toplam Sepet Tutarı {{myCart.totalPrice}}</strong>
      </p>
      <button
        mat-raised-button
        color="primary"
        (click)="removeProductFromList()"
        style="margin-top: 1rem"
      >
        Seçilenleri Kaldır
      </button>
    </div>
  </div>
</div>
